@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button{
  display: inline-block;
  background-color: #535d34;
  color: #ffffff;
  margin-left: 2em;
  text-align: center;
  line-height: 50px;
  border: none;
  border-radius: 20px;
  }

  button:hover {
    background-color: #535d347a; /* Green */
    color: #ffffff;
  }

  button:active{
    background-color: #ffffff; /* Green */
    color: #000000;
    border: solid 3px #535d34;
  }



input{
  padding: 4px;
  border-radius: 25px;
  border: solid 1.5px black;
  margin: 25px;
}

.signin{
  align-items: center;
  float: left;
  display: flex;
}
.signinGoogle{
background-color: rgb(50, 98, 201); 
align-items: center;
  float: left;
  display: flex;
}
.logon{
  float: left;
  display: flex;
}

h2{
  font-size: larger;
  font-weight: 700;
}