.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    .main {
      grid-template-columns: repeat(2, 50%);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @media (max-width: 800px) {
    .main {
      flex-direction: column;
      margin-top: 9%;
    }
  }
