.container{
    display: inline-block;
    width: 33%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.help{
    position: absolute;
    border: solid black 1px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 0.3em;
    margin-right: 10% ;
}

.button{
    width: 90px;
    font-size: larger;
    font-weight: 700;
    padding: 0;
}