.nav {
    margin: auto;
    padding: auto;
    width: 100%;
    background-color: #535d34;
    text-align: center;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px inset;
  }

  .points{
    display: inline-block;
    color: azure;
    font-size: x-large;
    font-weight: 400;
    margin-left: 15px;
    padding: 1.1%;
  }
  

  

   
  