.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}

.text{
  margin-left: 10%;
  margin-right: 10%;
}