.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 12%;
  padding: 5%;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}

.text{
  justify-content: left;
  padding: 3%;
}
.text li{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  list-style: circle;
}