.main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
@media (max-width: 800px) {
  .main {
    flex-direction: column;
    margin-top: 8%;
  }
}
.text{
  display: flex;
  justify-content: left;
  padding: 3%;
}

.charts{
  padding: 10%;
  align-items: flex-end;
}