.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 7%;
  text-align: left;
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
    margin-top: 9%;
  }
}
.text{
  list-style: none;
}

.text button{
  width: 100px;
    font-size: larger;
    font-weight: 700;
    padding: 0;

}